<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kin.scheduler.admin.dao.JobInfoDao">

    <resultMap id="JobInfo" type="org.kin.scheduler.admin.entity.JobInfo">
        <result column="id" property="id"/>
        <result column="app_name" property="appName"/>
        <result column="title" property="title"/>
        <result column="order" property="order"/>
    </resultMap>

    <sql id="Base_Column_List">
		t.id,
		t.app_name,
		t.title,
		t.`order`
	</sql>

    <select id="pageList" resultMap="JobInfo">
        SELECT
        <include refid="Base_Column_List"/>
        FROM job_info AS t
        <trim prefix="WHERE" prefixOverrides="AND | OR">
            <if test="appName != null and appName != ''">
                AND t.app_name like CONCAT(CONCAT('%', #{appName}), '%')
            </if>
            <if test="title != null and title != ''">
                AND t.title like CONCAT(CONCAT('%', #{title}), '%')
            </if>
        </trim>
        ORDER BY t.order ASC
        LIMIT #{offset}, #{pageSize}
    </select>

    <insert id="save" parameterType="org.kin.scheduler.admin.entity.JobInfo" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO job_info ( `app_name`, `title`, `order`)
		values ( #{appName}, #{title}, #{order} );
	</insert>

    <update id="update" parameterType="org.kin.scheduler.admin.entity.JobInfo">
		UPDATE job_info
		SET `app_name` = #{appName},
			`title` = #{title},
			`order` = #{order}
		WHERE id = #{id}
	</update>

    <delete id="remove" parameterType="java.lang.Integer">
		DELETE FROM job_info
		WHERE id = #{id}
	</delete>

    <select id="load" parameterType="java.lang.Integer" resultMap="JobInfo">
        SELECT
        <include refid="Base_Column_List"/>
        FROM job_info AS t
        WHERE t.id = #{id}
    </select>

</mapper>